body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}



/*--Header--*/
header{
    position: fixed;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    z-index: 999;
    top: 0;
    box-shadow: 1px 1px 10px rgb(204, 209, 215);
    transition: box-shadow 0.3s ease; /* Smooth transition */

}
html:not(:root) heading {
    box-shadow: 0px 10px 15px -5px rgba(99, 188, 252, 0.6); /* Only at the bottom */
}

header .logo{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 16%;
    margin-top: 5px;
}
header .nav{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .nav ul{
    list-style: none;
    display: flex;
    margin-left: -20%;
}
header .nav ul li{
    padding-left: 27px;
}
/*--Blog--*/
header .nav ul .hh1 .hh2 li{
    padding: 6px;
    margin-left: 30px;
}
header .nav ul .hh1 .hh2 li{
    margin-left: 34px;
}
header .nav ul .hh1 .hh2{
    width: 160px;
    height: 80px;
    position: absolute;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 30px #ced2d4;
    margin-left: -140px;
    top: 70px;
    opacity: 0; /* Initially invisible */
    visibility: hidden; /* Initially hidden */
    transition: opacity 0.5s ease, visibility 0.5s ease; /* Smooth transition */
    transition-delay: .1s;
    background-color: #fff;
}
header .nav ul .hh1:hover .hh2{

    opacity: 1; /* Make it visible */
    visibility: visible; /* Show it */
}
/*--Blog--*/

header .nav ul .hhh1 .unorder ul{
    width: 160px;
    height: 80px;
    position: absolute;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 30px #ced2d4;
    margin-left: -140px;
    top: 70px;
    opacity: 0; /* Initially invisible */
    visibility: hidden; /* Initially hidden */
    transition: opacity 0.5s ease, visibility 0.5s ease; /* Smooth transition */
    transition-delay: .1s;
    background-color: white;
}
header .nav ul .hhh1 .unorder ul li{
    padding: 6px;
    margin-left: 30px;
}
header .nav ul ul a{
    margin-left: -60px;
}
/*--Hover--*/
header .nav ul .hhh1:hover ul{
    opacity: 1; /* Make it visible */
    visibility: visible; /* Show it */
}
header .nav ul li a{
    text-decoration: none;
    font-size: 11.8px;
    font-weight: 600;
    color: rgb(16, 16, 18);
    transition: .4s;
}
/*--Hover--*/
header .nav ul li a:hover{
    background-color: #fff;
    color: #8490ff;
}
header ul .hhh1 .unorder ul .unorder2 ul{
    top: 45px;
    margin-left: -279px;
    box-shadow: 1px 1px 30px #c5c8ca;
    opacity: 0; /* Initially invisible */
    visibility: hidden; /* Initially hidden */
    transition: opacity 0.5s ease, visibility 0.5s ease; /* Smooth transition */
    transition-delay:.1s;

}
/*--Hover--*/
header ul .hhh1 .unorder .hhh2:hover ul{
    background-color: #fff;
    opacity: 1; /* Make it visible */
    visibility: visible; /* Show it */
}
/*--Header--*/



/*--Section--*/
section{
    top:0;
    display: flex;
    font-family: Arial;
}
section .home{
    width: 100%;
    height: 750px;
    background-color: #f9f9ff ;
    display: flex;
    justify-content: center;
    align-items: center;
}
section .home .text1{
    width: 570px;
    height: 400px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;

}
section .home .text1 h5{
    text-transform: uppercase;
    margin-top: -10px;
    letter-spacing: 2px;
    opacity: .7;
}
section .home .text1 h1{
    font-size: 60px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: -1px;
    margin-top: -5px;
    color: #222222;
}
section .home .text1 p{
    line-height: 25px;
    margin-top: -28px;
    opacity: .5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15.3px;
}
section .home .text1 a{
    text-align: center;
    width: 163px;
    height: 29px;
    text-decoration: none;
    background: linear-gradient(45deg, #8391ff 10%,#63bcfc);
    font-size: 14px;
    color: white;
    padding-top: 12px;
    font-weight: bold;
}
/*--Hover--*/
section .home .text1 a:hover{
    box-shadow: 0px 10px 20px -5px rgba(53, 54, 54, 0.6); /* Adjust the shadow properties as needed */
    transition: box-shadow 0.3s ease; /* Smooth transition */
}
section .home .image1{
    margin-right: 73px;
    margin-top: 140px;
}
/*--Section--*/



/*--SectionAA--*/
.sectionAA{
    width: 100%;
    height: 500px;
}
.sectionAA .About{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}
.sectionAA .About .image2{
    width: 720px;
    margin-left: 23.5%;
    background-image: url(images/about-img.webp);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
}
.sectionAA .About .text2{
    width: 600px;
    text-align: left;
    padding-left: 120px;
    margin-top: 70px;
    background-color: rgb(255, 255, 255);
}
.sectionAA .About .text2 h5{
    opacity: .7;
}
.sectionAA .About .text2 h2{
    font-size: 36px;
    letter-spacing: -2px;
    text-transform: uppercase;
    color: #222222;
}
.sectionAA .About .text2 p{
    line-height: 25px;
    font-size: 16px;
    opacity: .4;
    font-family: Arial, Helvetica, sans-serif;
}
.sectionAA .About .text2 .button{
    width: 187px;
    background: linear-gradient(45deg, #8391ff 10%,#63bcfc);
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.sectionAA .About .text2 .button:hover{
    box-shadow: 0px 10px 20px -5px rgba(53, 54, 54, 0.6); /* Adjust the shadow properties as needed */
    transition: box-shadow 0.3s ease; /* Smooth transition */
}
.sectionAA .About .text2 .button a{
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    font-weight: bold;

}

/*--SectionAA--*/



/*--SectionBB--*/
.sectionBB{
    /*background-color: aquamarine;*/
    width: 100%;
    height: 870px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sectionBB .services{
    width: 100%;
    height: 700px;
    /*background-color: gray;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*--Logo--*/
.sectionBB .services .logo{
    width: 670px;
    height: 200px;
    text-align: center;
    /*background-color: yellow;*/
}
.sectionBB .services .logo h1{
    font-size: 35px;
    letter-spacing: .7px;
    color: #222222;
}
.sectionBB .services .logo p{
    line-height: 25px;
    font-size: 14px;
    letter-spacing: 1px;
    opacity: .5;
    margin-top: -15px;
}
/*--Logo--*/

/*--Items--*/
.sectionBB .services .items{
    width: 1250px;
    height: 450px;
    /*background-color: #8490ff;*/
    float: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.sectionBB .services .items .item-box{
    width: 310px;
    height: 170px;
    background-color: #fff;
    margin-right: 60px;
    text-align: center;
}
.sectionBB .services .items .item-box i{
    font-size: 25px;
    color: #222222;
    transition: .2s;
}
.sectionBB .services .items .item-box a{
    text-decoration: none;
    color: #222222;
    transition: .2s;
}
/*--Hover--*/
.sectionBB .services .items .item-box:hover i{
    color: #63bcfc;
}
.sectionBB .services .items .item-box:hover a{
    color: #6673eb;
}
.sectionBB .services .items .item-box p{
    line-height: 23px;
    opacity: .4;
}
/*--Items--*/
/*--SectionBB--*/


/*--SectionCC--*/
.sectionCC{
    background: linear-gradient(45deg, #8391ff 10%,#63bcfc);
    width: 100%;
    height: 320px;
    display: flex;
    justify-content: center;
}
.sectionCC .Achives{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.sectionCC .Achives .counter-container{
    width: 13%;
    padding: 30px;
}
.sectionCC .Achives .counter-container .counter{
    font-size: 42px;
    font-weight: bolder;
    color: white;
}
.sectionCC .Achives .counter-container p{
    line-height: 1px;
    color: wheat;
    font-size: 15px;
}
/*--SectionCC--*/



/*--SectionDD--*/
.sectionDD{
    width: 100%;
    height: 1300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.sectionDD .logo{
    width: 700px;
    height: 150px;
    text-align: center;
}
.sectionDD .logo h1{
    font-size: 35px;
    font-weight: bold;
    color: #222222;
}
.sectionDD .logo p{
    opacity: .5;
}
.sectionDD .main{
    position: relative;
    width: 80%;
    height: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*--Top--*/
.sectionDD .main .top{
    width: 500px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sectionDD .main .top ul{
    display: flex;
    list-style: none;
}
.sectionDD .main .top ul li{
    padding: 13px;
    text-transform: uppercase;
    font-size: 12px;
}
.sectionDD .main .top ul li a{
    text-decoration: none;
    font-weight: bold;
    position: relative;
    color: #222222;
    cursor: pointer;
    padding-bottom: 5px; /* Space for the underline */
}


/*
.sectionDD .main .top ul li a{
    text-decoration: none;
    font-weight: bold;
    color: #222222;
    opacity: .8;
}*/
.sectionDD .main .top ul li .aa1::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #222222; /* Color of the underline */
    transition:  0.3s ease; /* Animation for the loading effect */
}

.sectionDD .main .top ul li .aa1:hover::after {
    width: 40%; /* Expands the underline on hover */
}



/*--Top--*/
.sectionDD .main .icons{
    position: relative;
    width: 90%;
    height: 82%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/*--Icon--*/
.sectionDD .main .icons .icon {
    background-color: white;
    width: 27%;
    height: 38%;
    background-size: cover; /* পুরো এলিমেন্ট কভার করতে */
    background-repeat: no-repeat;
    background-image: image-set(
        url('images/p1.jpg.webp') type("image/webp"),
        url('images/p1.jpg') type("image/jpeg")
    );
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

/*--Icon2--*/
.sectionDD .main .icons .icon2 {
    background-color: white;
    width: 27%;
    height: 38%;
    background-size: cover; /* পুরো এলিমেন্ট কভার করতে */
    background-repeat: no-repeat;
    background-image: image-set(
        url('images/p2.jpg.webp') type("image/webp"),
        url('images/p2.jpg') type("image/jpeg")
    );
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

/*--Icon3--*/
.sectionDD .main .icons .icon3 {
    background-color: white;
    width: 27%;
    height: 38%;
    background-size: cover; /* পুরো এলিমেন্ট কভার করতে */
    background-repeat: no-repeat;
    background-image: image-set(
        url('images/p3.jpg.webp') type("image/webp"),
        url('images/p3.jpg') type("image/jpeg")
    );
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

/*--Icon4--*/
.sectionDD .main .icons .icon4 {
    background-color: white;
    width: 27%;
    height: 38%;
    background-size: cover; /* পুরো এলিমেন্ট কভার করতে */
    background-repeat: no-repeat;
    background-image: image-set(
        url('images/p4.jpg.webp') type("image/webp"),
        url('images/p4.jpg') type("image/jpeg")
    );
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

/*--Icon5--*/
.sectionDD .main .icons .icon5 {
    background-color: white;
    width: 27%;
    height: 38%;
    background-size: cover; /* পুরো এলিমেন্ট কভার করতে */
    background-repeat: no-repeat;
    background-image: image-set(
        url('images/p5.jpg.webp') type("image/webp"),
        url('images/p5.jpg') type("image/jpeg")
    );
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

/*--Icon6--*/
.sectionDD .main .icons .icon6 {
    width: 27%;
    height: 38%;
    background-size: cover; /* পুরো এলিমেন্ট কভার করতে */
    background-repeat: no-repeat;
    background-image: url(images/p6.webp);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
/*--Hover--*/
.sectionDD .main .icons .icon .H{
    opacity: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #6673eb 15%, #63bcfc);
    transition: .2s .1s;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.sectionDD .main .icons .icon:hover .H{
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .8;
}

/*--Hover2--*/
.sectionDD .main .icons .icon2 .H{
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: #6673eb;
    border-radius: 5px;
    background: linear-gradient(90deg, #6673eb 15%, #63bcfc);
    transition: .2s .1s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sectionDD .main .icons .icon2:hover .H{
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .8;
}

/*--Hover3--*/
.sectionDD .main .icons .icon3 .H{
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: #6673eb;
    border-radius: 5px;
    background: linear-gradient(90deg, #6673eb 15%, #63bcfc);
    transition: .2s .1s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sectionDD .main .icons .icon3:hover .H{
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .8;
}

/*--Hover4--*/
.sectionDD .main .icons .icon4 .H{
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: #6673eb;
    border-radius: 5px;
    background: linear-gradient(90deg, #6673eb 15%, #63bcfc);
    transition: .2s .1s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sectionDD .main .icons .icon4:hover .H{
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .8;
}

/*--Hover5--*/
.sectionDD .main .icons .icon5 .H{
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: #6673eb;
    border-radius: 5px;
    background: linear-gradient(90deg, #6673eb 15%, #63bcfc);
    transition: .2s .1s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sectionDD .main .icons .icon5:hover .H{
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .8;
}

/*--Hover6--*/
.sectionDD .main .icons .icon6 .H{
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: #6673eb;
    border-radius: 5px;
    background: linear-gradient(90deg, #6673eb 15%, #63bcfc);
    transition: .2s .1s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sectionDD .main .icons .icon6:hover .H{
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .8;
}
/*--SectionDD--*/



/*--SectionEE--*/
.sectionEE{
    background-color: #f5f6f9;
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.sectionEE .logo{
    padding: 100px;
    margin-top: -50px;
}
.sectionEE .logo h1{
    font-size: 38px;
    color: #222222;
}
.sectionEE .logo p{
    font-size: 15px;
    opacity: .7;
}
.sectionEE .slider-container {
    position: relative;
    width: 1200px; /* apnar proyojon moto width set korun */
    overflow: hidden;
    display: flex;
}

.sectionEE .slider {
    display: flex;
    transition: transform 0.5s ease;
    width: 97%;
}

.sectionEE .slider .img {
    display: flex;
    margin: 20px;
    width: 500px;/* div er width er shathe mil rakhte hobe */
    height: 200px;
    background-color: white;
}
.sectionEE .slider .img .new:hover h3 a{
    transition: .3s;
    color: #63bcfc;
}
.sectionEE .slider .img img{
    width: 40px;
    height: 40px;
    padding: 10px;
}
.sectionEE .slider .img .new{
    text-align: left;
    background-color: white;
}
.sectionEE .slider .img .new h3 a{
    text-decoration: none;
    color: #222222;
    font-weight: bold;
}
.sectionEE .slider .img .new h4{
    font-weight: lighter;
    font-size: small;
}
.sectionEE .buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sectionEE .arrow {
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
}

.sectionEE .left {
    left: 10px;
}

.sectionEE.right {
    right: 10px;
}

/*--SectionEE--*/